<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron mb-0">
                <h1 class="display-4">Novo Pedido</h1>
            </div>

            <form action="/pedido/novo" method="POST">
                <div>
                    <label>Produto</label>
                    <input name="nomeProduto" placeholder="nome do produto"/>
                    <small>Informe o nome do produto.</small>
                </div>
                <div>
                    <label>URL</label>
                    <input name="urlProduto" placeholder="URL do produto"/>
                    <small>Cole aqui a URL do produto.</small>
                </div>
                <div>
                    <label>Imagem</label>
                    <input name="urlImagem" placeholder="URL da imagem"/>
                    <small>Cole aqui a URL da imagem do produto.</small>
                </div>
                <div>
                    <label>Descrição</label>
                    <textarea name="descricao" placeholder="Adicione detalhes importantes para ajudar o comprador."></textarea>
                </div>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </body>
</html>